nav {
  background-color: black;
}

.container1 {
  padding: 10px;
  border-radius: 10px;
}

.Cont {
  height: 100%;
  font-size: 1.2rem;
}

.logout {
  text-decoration: none;
  padding: 0 2px 0 2px;
}

.btnx {
  text-decoration: none;
  color: black;
  padding: 5px
}

.form-text {
  margin-bottom: 0.6rem;
}

.highlie:hover {
  font-size: larger;
  color: black;
}